.ResetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ResetPassword_container {
    background-color: rgb(255, 255, 255, 0.8);
    border: 0.1vmax solid rgb(0, 0, 0);
    border-radius: 0.3vmax;
}

.ResetPassword_containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0.5vmax 1vmax 0.5vmax 1vmax;
}

.ResetPassword_containerTitle {
    font-size: clamp(17px, 1.15vmax, 1.15vmax);
    color: rgb(255, 255, 255);
}

.ResetPassword_containerForm {
    padding: 0.5vmax 1vmax;
}

.ResetPassword_containerFormAlignInputs {
    display: flex;
    flex-direction: column;
    padding: 0.5vmax 0vmax;
}

.ResetPassword_containerFormLabel {
    padding-bottom: 0.2vmax;
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
}

.ResetPassword_containerFormAlignInputs p {
    padding: 0.4vmax 0 0 0;
    width: fit-content;
    cursor: pointer;
    border-bottom: 0 solid transparent;
    transition: 0.3s;
}

.ResetPassword_containerFormAlignInputs p:hover {
    color: rgb(80, 80, 80);
    border-bottom: 0.1vmax solid rgb(80, 80, 80);
}

.ResetPassword_containerFormInput {
    padding: 0.35vmax 0.25vmax;
    border-radius: 0.2vmax;
    border: 1px solid rgb(150, 150, 150);
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
    outline: none;
    width: 15vmax;
}

.ResetPassword_containerFormInput:hover {
    background-color: rgb(220, 220, 220);
}

.ResetPassword_containerFormInput:focus {
    border: 0.1vmax solid black;
}

.ResetPassword_containerFormButton {
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
    padding: 0.2vmax 0.1vmax;
    cursor: pointer;
}

.ResetPassword_containerRecover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5vmax 0;
    padding: 0.3vmax 0 1vmax 0;
}

.ResetPassword_containerRecover p {
    cursor: pointer;
    transform: scaleX(1);
    border-bottom: 0 solid transparent;
    transition: 0.3s;
}

.ResetPassword_containerRecover p:hover {
    color: rgb(80, 80, 80);
    border-bottom: 0.1vmax solid rgb(80, 80, 80);
}

.ResetPassword_containerRecover a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transform: scaleX(1);
    border-bottom: 0 solid transparent;
    transition: 0.3s;
}

.ResetPassword_containerRecover a:hover {
    color: rgb(80, 80, 80);
    border-bottom: 0.1vmax solid rgb(80, 80, 80);
}
