.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Home_Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vmax;
  border-radius: 0.3vmax;
  gap: 0.5vmax;
}

.Home_Content h1 {
  font-size: clamp(20px, 1.35vmax, 1.35vmax);
}

.Home_Content p {
  font-size: clamp(14px, 0.85vmax, 0.85vmax);
}

.Home_Content a {
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: clamp(14px, 0.85vmax, 0.85vmax);
}

.Home_Content a:hover {
  color: rgb(80, 80, 80);
}
