.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Login_container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.3vmax;
}

.Login_containerTitle {
    background-color: rgb(0, 0, 0);
    padding: 0.5vmax 1vmax 0.5vmax 1vmax;
}

.Login_containerTitle h1 {
    font-size: clamp(17px, 1.15vmax, 1.15vmax);
    color: rgb(255, 255, 255);
}

.Login_containerForm {
    padding: 0.5vmax 1vmax;
}

.Login_containerFormAlignInputs {
    display: flex;
    flex-direction: column;
    padding: 0.5vmax 0vmax;
}

.Login_containerFormLabel {
    padding-bottom: 0.2vmax;
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
}

.Login_containerFormInput {
    padding: 0.35vmax 0.25vmax;
    border-radius: 0.2vmax;
    border: 1px solid rgb(150, 150, 150);
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
    outline: none;
}

.Login_containerFormInput:hover {
    background-color: rgb(220, 220, 220);
}

.Login_containerFormInput:focus {
    border: 1px solid black;
}

.Login_containerFormButton {
    font-size: clamp(14px, 0.85vmax, 0.85vmax);
    padding: 0.2vmax 0.1vmax;
}
